/*-------------- document -------------- */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*-------------- header -------------- */


.app-title {
  color: #F2F2F2;
  font-weight: 300;
  margin-left: 20px;
  padding: 10px;
}

.half-app-title {
  color: #34D1D1;
}

#header {
  background: #2F2235;
  padding: 5px 0;
}

.name {
  position: absolute;
  right: 20px;
  top: 25px;
  color: #F2F2F2;
  font-weight: 300;
}

/*-------------- accordion tabs -------------- */


.pattern-title {
  font-weight: 300;
  margin: 0 25px 0 25px;
  width: 150px;
}

hr {
  width: 80%;
}

.subtitle {
  display: flex;
  align-items: center;
  margin: 50px 20px;
}

.card-info {
  border: 1px solid #D1D2D3;
  border-top: none;
  padding: 20px;
  background: white;
  display: flex;
}

.tab {
  padding: 10px 0;
  background-color: #F2F2F2;
  position: relative;
  color: #666666;
  width: 25%;
  border-right: #FFFFFF solid 1px;
  border-bottom: #D1D2D3 solid 1px;
  font-weight: 300;
}

.tab:hover {
  font-weight: 600;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
}

.card-img {
  width: 350px;
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
  align-self: center;
}

.card-img-one {
  background-image: url('./rainbow-trout.jpg');
}

.card-img-two {
  background-image: url('./brook-trout.jpg')
}

.card-img-three {
  background-image: url('./tiger-trout.jpg')
}

.card-img-four {
  background-image: url('./Grayling.jpg')
}

.card-text {
  width: 60%;
  margin: 0 10px;
}

h5 {
  font-weight: 800;
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 1px solid #D1D2D3;
}

p {
  padding: 18px 0;
  line-height: 150%;
}

.tabs {
  display: flex;
  text-align: center;
}

.tab4 {
  border-right: none;
}

.tab4 .active {
  border-right: 1px solid #D1D2D3;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.accordion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.active {
  background-color: #FFF;
  border: solid 1px #D1D2D3;
  border-bottom: none;
  color: #666666;
  font-weight: 600;
}

.hide {
  display: none;
}

.mobile-tab {
  display: none;
}


button {
  margin-top: 50px;
  width: 300px;
  height: 40px;
  background: #2F2235;
  color: #F2F2F2;
  font-weight: 300;
  align-self: center;
  outline: none;
}

a {
  text-decoration: none;
  color: #F2F2F2;
}

.view-code:hover {
  cursor: pointer;
}


/*-------------- flexible-cards -------------- */


.flexible-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexible-cards {
  display: grid;
  grid-auto-rows: 300px 300px 300px;
  grid-gap: 20px;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}

.flex-card {
  border: #D1D2D3 solid 2px;
}

.flex-title {
  background: #fff;
}

.flex-card h5 {
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-1 {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-row-start: 1;
  background-image: url('./AgoTTWebsiteHERO-white2-580x387.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-2 {
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 1;
  grid-row-start: 1;
  background-image: url('./OnyxHero-580x386.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-3 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 2;
  background-image: url('./southpaw_Hero-580x387.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-4 {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 2;
  background-image: url('./TheRange_Hero-580x387.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-5 {
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 2;
  background-image: url('./TZHiRes-0315-HERO2.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-6 {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 3;
  background-image: url('./Deusky_510_2F2G72421-580x386.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-7 {
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-row-start: 3;
  background-image: url('./DR_HERO-580x387.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*-------------- header-bar -------------- */

.hidden {
  display: none;
}

.header-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-container {
  padding: 0 70px;
}

.close-button {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./3dDoge.gif');
}

nav {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3f5d7b;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav-input {
  height: 25px;
  width: 150px;
  font-size: 16px;
  padding: 2px 32px;
  background-image: url('./magnifier-tool.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 5px;
  outline: none;
}

.nav-link {
  width: 150px;
}

.nav-link:hover {
  cursor: pointer;
  color: lightgreen;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

button.menu-button {
  background: none;
  border: none;
  margin-top: 0;
  width: auto;
  font-size: 16pt;
}

@media screen and (max-width: 1040px){

  .flexible-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-card {
    margin: 10px 0;
    width: 75%;
    height: 300px;
  }

/*  nav {
    flex-direction: column
  }*/
  .hidden {
    display: block;
  }

  .nav-hidden {
    display: none;
  }
  .nav-link-container {
    flex-direction: column;
    width: 80%;
  }

  .nav-input {
    margin: 5px;
  }


}

@media screen and (max-width: 750px) {

  .hidden {
    display: block;
  }
  .nav-link-container {
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    width: auto;
    margin: 5px;
  }
}

@media screen and (max-width: 650px){

  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tabs {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .card-info {
    flex-direction: column;
    padding: 0;
  }

  .card-img {
    width: 100%;
    height: 250px;
    margin: 0;
  }

  .mobile-tab {
    display: flex;
    width: 99.8%;
    border: solid 1px #D1D2D3;
    align-items: center;
    padding: 10px;
    color: #666666;
    font-weight: lighter;
  }

  .mobile-tab:hover {
    font-weight: 600;
    cursor: pointer;
  }

  h4 {
    font-weight: 300;
  }

  .mobile-hide {
    display: none;
  }

  .card-text {
    width: 90%;
  }

  h5 {
    width: 95%;
  }

}



@media screen and (max-width: 600px) {
    button {
    width: 75%;
  }

  nav {
    flex-direction: column;
  }
}
